.layout {
    box-sizing: border-box;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #babbae;
}
.search-header{
    background-color: var(--maize-crayola);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-result-area {
    min-height: 80vh;
    background-color: var(--gainsboro);
}
.error-text{
    color: red;
    font-size: xx-large;
}
