.layout {
    box-sizing: border-box;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid var(--secondary-bg-color);
}
.search-header{
    background-color: var(--tertiary-bg-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-result-area {
    min-height: 80vh;
    background-color: var(--primary-bg-color);
}
.error-text{
    color: var(--error-color);
    font-size: xx-large;
}
