
.search-form {
    width:70%;
}
.search-label {
    font-size: 23px;
    line-height: 23px;
}
.search-button {
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: var(--tertiary-bg-color);
    background-color: var(--quinary-bg-color);
}
.search-input {
    font-size: 20px;
    width: 70%;
    margin: 0 20px;
}
