html {
  --gainsboro: rgba(207, 219, 213, 1);
  --ivory: rgba(232, 237, 223, 1);
  --maize-crayola: rgba(245, 203, 92, 1);
  --raisin-black: rgba(36, 36, 35, 1);
  --jet:  rgba(51, 53, 51, 1);
  --dodger-blue: rgb(30, 144, 255);
  --red: rgb(255, 0, 0);


  --primary-bg-color: var(--gainsboro);
  --secondary-bg-color: var(--ivory);
  --tertiary-bg-color: var(--maize-crayola);
  --quaternary-bg-color: var(--raisin-black);
  --quinary-bg-color: var(--jet);
  --senary-bg-color: var(--dodger-blue);
  --error-color: var(--red);

}

.app {
  text-align: center;
  background-color: var(--quaternary-bg-color);
}
.app-header {
  background-color: var(--quinary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
