.modal-container {
    width: 90%;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
}
.modal-header {
    font-size: xx-large;
    font-weight: bold;
    background-color: var(--primary-bg-color);
    margin: 20px;
    padding:20px
}
.modal-footer {
    margin: 0 20px;
    padding: 20px
}
.modal-footer  button{
    font-size: x-large;
    border: none;
    background-color: var(--senary-bg-color);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
